.mission {
  background-image: url(/assets/img/home/whiteboard.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15% 0;
  box-sizing: border-box;
  height: 450px;
}

.text-bold {
  font-weight: 800px;
}

.content-mission {
  font-size: 1.6em;
  margin-top: -90px;
  max-width: 80%;
  text-align: center;
}
@media (min-width: 1050px) {
  .content-mission {
    margin-top: -90px;
    max-width: 60%;
    font-size: 5em;
  }
}
@media (max-width: 950px) {
  .content-mission {
    margin-top: -90px;
    max-width: 70%;
    font-size: 1.3em;
  }
}
@media (max-width: 768px) {
  .content-mission {
    width: 80% !important;
    font-size: 1.1em;
  }
}
@media (max-width: 630px) {
  .content-mission {
    font-size: 1em;
    width: 90% !important;
  }
}
@media (max-width: 380px) {
  .content-mission {
    width: 100% !important;
    font-size: 0.8em;
  }
}
