.news-heading {
  margin: 0 0 -20px 0;
  text-shadow: 2px 3px 2px #f57c00;
  padding: 0;
  line-height: 2em;
}

.news h3 {
  font-size: 2em;
}

.news-card{
  width: 200px !important;
  left: 5% !important;
  right: 5% !important;
}

.news-close{
  font-size: 1em !important;
}

