.news-spacing{
  padding: 20px 5px !important;
}
.news-spacing span{
  padding: 0 10px !important;
}
.card-size{
  height: 15em;
}
.news-card{
  width: 100% !important;
}
.card-content-news .card-title{
  font-size: 1.1em;
  font-weight: 500;
}
.news-close{
  font-size: 1em !important;
}
.card-reveal p.text-news{
  font-size: 1.2em;
  text-align: justify;
}
.card-reveal .card-action span{
  font-size: 1.2em !important;
}
.news{
  margin: 0 !important;
}
.list-news li{
  list-style-type: disc !important;
  text-align: justify;
}
#news{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.align-card-content-news {
  height: 100% !important;
  vertical-align: center;
  text-align: left;
}

/* @media (min-width: 1440px) {
.card-content-news .card-title{
  font-size: 1em;
  font-weight: 400;
}
} */