.structure-list {
  font-size: 20px;
  margin-left: 10% !important;
}

.structure-list li {
  padding-bottom: 20px;
  list-style: inside !important;
  font-size: 1.2em;
  font-weight: 500;
}

.structure-list li::marker {
  font-size: 1.2em;
}

@media (min-width: 993px) {
  .structure {
    border-right: 3px solid rgb(82, 76, 76);
  }
}

@media (max-width: 993px) {
  .structure {
    border-bottom: 3px solid rgb(82, 76, 76);
  }
}
