.centralizer {
  background-color: rgb(253, 253, 253) ;
  width: 90% ;
  height: auto ;
  margin: 5% auto 5% auto ;
  border-radius: 15px ;
}

.big-card-content {
  width: 90% ;
  margin: 0% auto 5% auto ;
}

.card {
  margin-top: 5% ; 
  margin-left: 5% ;
}

.tabs .indicator {
  position: absolute ;
  bottom: 0 ;
  height: 2px ;
  background-color: teal ;
  will-change: left, right ;
}

.bottom-border{
  border-radius: 0px 0px 15px 15px ;
  height: 60px ;
}
.footer-big-card-content {
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 15px ;
}