.centralizer {
  background-color: rgb(253, 253, 253) !important;
  width: 90% !important;
  height: auto !important;
  margin: 5% auto 5% auto !important;
  border-radius: 15px !important;
}

.big-card-content {
  width: 90% !important;
  margin: 0% auto 5% auto !important;
}

.tabs .indicator {
  position: absolute !important;
  bottom: 0 !important;
  height: 2px !important;
  background-color: teal !important;
  will-change: left, right !important;
}

.bottom-border{
  border-radius: 0px 0px 15px 15px !important;
  height: 60px !important;
}
.row .col.s12 {
  width: 100% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
  margin-top: 20px !important;
}