.barra-verde{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014E3C !important;
  width: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  position: relative;
}

nav{
  height:100px !important;
  
}

nav #logo{
  margin: 0 5px;
}
