.barra-verde {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3BA378 !important;
  width: 100%;
  text-decoration: none;
  vertical-align: center;
  position: relative;
}

.barra-verde a{
    padding: 0 8px;
}

#up_icons {
    display: block;
}

nav #logo {
  margin: 0 5px;
  height: 100%;
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
}

