* {
  box-sizing: border-box;
}

/* Footer */
footer{
  background-color: #014E3C !important;
}

.black-text { color: #111 !important; }

/* Resto */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: auto !important;
}